@font-face {
  font-family: "PT Sans Caption";
  src: url("fonts/PTSansCaption-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "PT Sans Caption";
}

.header {
  display: flex;
  position: relative;
  z-index: 4;
  background: #F7F7F7;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__padding {
  padding: 1.154vh 20.42vw;
}

.logo {
  width: 4.74vw;
  height: 2.407vh;
  display: flex;
  align-self: center;
}

.location {
  display: flex;
}
.location .location__img {
  width: 0.63vw;
  height: 1.667vh;
  position: relative;
  top: 1.389vh;
  margin-right: 0.34vw;
}
.location .location__city {
  margin: auto 0;
}
@media (max-width: 767px) {
  .location .location__city {
    font-size: calc(8px + 18.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .location .location__city {
    font-size: calc(8px + 11 * (100vw / 1920));
  }
}

.location__city_gray {
  color: rgb(134, 134, 134);
}
@media (max-width: 767px) {
  .location__city_gray {
    font-size: calc(4px + 25.5 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .location__city_gray {
    font-size: calc(4px + 15 * (100vw / 1920));
  }
}

.location__margin {
  margin-left: 1.24vw;
}

.telephone {
  display: flex;
}
.telephone .telephone__image {
  width: 1.46vw;
  height: 2.593vh;
  margin-right: 0.47vw;
}
.telephone .telephone__number {
  margin-right: 1.82vw;
  align-self: center;
}
@media (max-width: 767px) {
  .telephone .telephone__number {
    font-size: calc(11px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .telephone .telephone__number {
    font-size: calc(11px + 7 * (100vw / 1920));
  }
}

.button_sign_up {
  width: 10.21vw;
  padding: 1.06vh 0;
  background: #0DBC91;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .button_sign_up {
    font-size: calc(5px + 17 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .button_sign_up {
    font-size: calc(5px + 10 * (100vw / 1920));
  }
}

.nav {
  background: rgb(31, 161, 129);
  height: 3.981vh;
  padding: 0 20.42vw;
  display: flex;
  color: white;
  align-items: center;
}
@media (max-width: 767px) {
  .nav {
    font-size: calc(9px + 15.3 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .nav {
    font-size: calc(9px + 9 * (100vw / 1920));
  }
}
.nav div {
  margin-right: 1.56vw;
}
.nav div:last-child {
  margin-right: 0;
}

@media (max-width: 567px) {
  .header {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 60% 40%;
    grid-template-areas: "menu logo telephone" "menu logo city";
    height: auto;
  }
  .header__padding {
    padding: 1.94vh 3.15vw 0.9vh;
  }
  .header__right .button_sign_up {
    display: none;
  }
  .logo {
    width: 16.533vw;
    height: 2.7vh;
  }
  .location__img, .telephone__image, .nav {
    display: none;
  }
  .telephone {
    grid-area: telephone;
  }
  .location {
    grid-area: city;
    margin-left: auto;
    margin-right: 1.8vw;
  }
  .logo {
    grid-area: logo;
  }
  .telephone__image, .location__city_gray {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
